%h1
  Class
  &gt;
  ="{{ wizard.namespace.name }}"
  ="::"
  ="{{ wizard.class.name }}"
  &lt;
%h4 Types
%ul
  %li{"ng-repeat": "type in wizard.types"}
    [
    = "{{ type.size }}"
    ]
    = "{{ type.name }}"
%h4
  Methods
  (
  %span{"ng-click": "wizard.make_new_method()"}
    ="+"
  )
%div{"ng-if": "wizard.new_method"}
  %input{"ng-model": "wizard.new_class.name"}
  %span{"ng-click": "wizard.save_new_class()"}
    save
%ul
  %li{"ng-repeat": "class in wizard.methods"}
    = "{{ class.name }}"
