%h2
  namespaces :)
%span{"ng-click": "wizard.add_namespace()"}
  = "push the button"
%ul
  %li{"ng-repeat": "namespace in wizard.namespaces"}
    ="{{namespace.name}}"
    %span{"ng-repeat-start": "type in wizard.types[namespace.name]"}
      ="{{type.name}}"
    %span{"ng-repeat-end": true}
      ="{{$last ? '': ', '}}"
