<h2>
  namespaces
(
<span ng-click='wizard.make_new_namespace()'>
  +
</span>
)
</h2>
<div ng-if="wizard.new_namespace">
  <input ng-model="wizard.new_namespace.name"></input>
  <span ng-click="wizard.save_new_namespace()">
    save
  </span>
</div>
<ul>
  <li ng-repeat='namespace in wizard.namespaces'>
    <a ui-sref='namespace({namespace: namespace.name})'>
      {{namespace.name}}
    </a>
    <span ng-repeat-start='type in namespace.types'>
      {{type.name}}
    </span>
    <span ng-repeat-end>
      {{$last ? '': ', '}}
    </span>
  </li>
</ul>
