%h1
  Namespace
  &gt;
  ="{{ wizard.namespace.name }}"
  &lt;
%h4 Types
%ul
  %li{"ng-repeat": "type in wizard.types"}
    [
    = "{{ type.size }}"
    ]
    = "{{ type.name }}"
%h4 Classes
%ul
  %li{"ng-repeat": "class in wizard.classes"}
    [
    = "{{ class.size }}"
    ]
    = "{{ class.name }}"
